<header class="site-header">

  <nav class="subnav" aria-label="Kies je doelgroep">
    <div class="container subnav-inner">
      <a href="/bezoekers.html">Voor bezoekers</a>
      <a href="/uitbaters.html">Voor uitbaters</a>
    </div>
  </nav>

  <div class="nav">
    <div class="container nav-inner">
      <a class="brand" href="/"><img class="mark" src="/img/funpoints-logo.png" srcset="/img/funpoints-logo.png 1x, /img/funpoints-logo@2x.png 2x" width="34" height="34" alt="" loading="eager" decoding="async"> Funpoints</a>
      <input class="nav-toggle-input" type="checkbox" id="navtoggle">
      <label class="nav-toggle" for="navtoggle" aria-controls="hoofdmenu"><span class="bars"></span>Menu</label>
      <nav class="nav-links" id="hoofdmenu" aria-label="Hoofdnavigatie">
        <a href="/kermis/">Kermiskalender</a>
        <a href="/hoe-het-werkt.html">Punten sparen</a>
        <a href="/magazine/">Kermismagazine</a>
        <a href="/prijzen.html">Prijzen</a>
        <a href="/over-ons.html">Over ons</a>
        <a class="nav-alleen-mobiel" href="/demo/">Demo aanvragen</a>
      </nav>
      <div class="nav-right">
        <a class="btn btn-primary" href="/demo/">Vraag een demo</a>
      </div>
    </div>
  </div>

</header>
